.navbar-landing {
    background-image: url("../static/images/navbarbg.PNG");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    height: 210px;
    .row-1-navbar{
        margin-top: -1%;
        width: 100%;
        &__logo {
            width: 110px;
        }
        &__title {
            margin-left: 1%;
            font-family: Nunito;
            font-size: 40px;
            font-weight: 800;
            color: $color-primary;
            -webkit-text-stroke-width: 1.5px;
            -webkit-text-stroke-color: white;
        }
        &__subtitle {
            margin-left: 110px;
            font-family: Nunito;
            font-size: 24px;
            font-weight: 700;
            color: white;
            //margin-left: auto;
        }
        &__menu {
            margin-left: 300px;
            .nav-link {
                margin-left: 20px;
                font-family: Nunito;
                font-size: 20px;
                font-weight: 700;
                color: white;
            }
            &__btn-ingresa{
                margin-top: -4px;
                background-color: $color-secondary;
                font-family: Nunito;
                font-size: 20px;
                font-weight: 700;
                color: white;
                border-radius: 20px;
            }
        }
        &__btn-carrito{
            margin-top: -15px;
            width: 100px;
            &__img{
                width: 60px;
            }
            &__label{
                font-family: Nunito;
                font-size: 17px;
                font-weight: 600;
                color: white;
            }
        }
    }
    .row-2-navbar{
        width: 100%;
        margin-top: 180px;
        margin-right: 670px;
        margin-left: -820px;
        &__btn-search{
            width: 37px;
        }
        &__input-text{
            border-radius: 22px;
            font-family: Nunito;
            font-weight: 500;
            font-size: 20px
        }
    }
}

@include mq-max(large){
    .navbar-landing {
        
        .row-1-navbar{
            &__title {
                font-size: 36px;
            }
            &__subtitle {
                margin-left: 100px;
                font-size: 22px;
            }
            &__menu {
                margin-left: 160px;
            }
           
        }
        .row-2-navbar{
            margin-right: 500px;
            margin-left: -670px;
        }
    }
}

@include mq-max(medium){
    .navbar-landing {
        .row-1-navbar{
            margin-top: 20px;
            &__btn-toggler{
                margin-left: 85%;
                &__icon{
                    width: 50px;
                }
            }
            &__menu {
                margin-left: 80%;
                .nav-link {
                    margin-left: 0px;
                    font-size: 18px;
                }
                &__btn-ingresa{
                    margin-top: 0px;
                    font-size: 18px;
                }
            }
            &__btn-carrito{
                margin-top: 0px;
                background-color: $color-secondary;
                border-radius: 20px;
                &__img{
                    width: 40px;
                }
                &__label{
                    font-family: Nunito;
                    font-size: 17px;
                    font-weight: 600;
                }
            } 
        }
        .row-2-navbar{
            margin-top: 0px;
            margin-right: 70px;
            margin-left: 0px;
        }
    }    
}
@include mq-max(small){
    .navbar-landing {
        .row-1-navbar{
            margin-top: 20px;
            &__btn-toggler{
                margin-left: 85%;
                &__icon{
                    width: 50px;
                }
            }
            &__menu {
                margin-left: 83%;
                .nav-link {
                    margin-left: 0px;
                    font-size: 14px;
                }
                &__btn-ingresa{
                    margin-top: 0px;
                    font-size: 14px;
                }
            }
            &__btn-carrito{
                width: 75px;
                &__img{
                    width: 32px;
                }
                &__label{
                    font-size: 14px;
                }
            } 
        }
        .row-2-navbar{
            margin-top: 0px;
            margin-right: 70px;
            margin-left: 0px;
        }
    }    
}

@include mq-max(xs-small){
    .navbar-landing {
        height: 160px;
        .row-1-navbar{
            margin-top: 0px;
            &__logo {
                width: 60px;
            }
            &__title {
                margin-left: 10px;
                font-size: 25px;
            }
            &__subtitle {
                margin-left: 50px;
                font-size: 18px;
            }
            &__btn-toggler{
                margin-left: 80%;
                &__icon{
                    width: 32px;
                }
            }
            &__menu {
                margin-left: 72%;
                .nav-link {
                    margin-left: 0px;
                    font-size: 14px;
                }
                &__btn-ingresa{
                    margin-top: 0px;
                    font-size: 14px;
                }
            }
            &__btn-carrito{
                width: 75px;
                &__img{
                    width: 30px;
                }
                &__label{
                    font-size: 11px;
                }
            } 
        }
        .row-2-navbar{
            margin-top: 20px;
            margin-right: 20px;
            margin-left: 0px;
            &__btn-search{
                margin-top: -10px;
                width: 20px;
            }
            &__input-text{
                border-radius: 22px;
                font-family: Nunito;
                font-weight: 500;
                font-size: 12px
            }
        }
    }    
}
