.navbar-landing {
    background-image: url("../static/images/navbarbg.PNG");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    height: 210px;
    .row-1-navbar{
        margin-top: -1%;
        width: 100%;
        &__logo {
            width: 110px;
        }
        &__title {
            margin-left: 5px;
            font-family: Nunito;
            font-size: 40px;
            font-weight: 800;
            color: $color-primary;
            -webkit-text-stroke-width: 1.5px;
            -webkit-text-stroke-color: white;
        }
        &__subtitle {
            margin-left: 110px;
            font-family: Nunito;
            font-size: 24px;
            font-weight: 700;
            color: white;
            //margin-left: auto;
        }
        &__menu {
            margin-left: 390px;
            .nav-link {
                margin-left: 20px;
                font-family: Nunito;
                font-size: 20px;
                font-weight: 700;
                color: white;
            }
            &__btn-ingresa{
                margin-top: -4px;
                background-color: $color-secondary;
                font-family: Nunito;
                font-size: 20px;
                font-weight: 700;
                color: white;
                border-radius: 20px;
            }
        }
        &__btn-carrito{
            width: 100px;
            &__img{
                width: 60px;
            }
            &__label{
                font-family: Nunito;
                font-size: 17px;
                font-weight: 600;
                color: white;
            }
        }
    }
    .row-2-navbar{
        width: 100%;
        margin-top: 180px;
        margin-right: 670px;
        margin-left: -930px;
        &__btn-search{
            width: 37px;
        }
        &__input-text{
            border-radius: 22px;
            font-family: Nunito;
            font-weight: 500;
            font-size: 20px
        }
    }
}
